@use "_colors.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');


*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	background-color: $cream;
	height: 100vh;
}
.main {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card {
	width: 93vw;
	height: 90%;
	background-color: $white;
	border-radius: 10px;
	overflow: hidden;
	&__perfume-img {
		height: 40%;
		background-image: url("../../dist/img/image-product-mobile.jpg");
		background-position: center;
		background-size: cover;
		margin-bottom: 2em;
	}
	&__wrapper {
		height: 60%;
		display: grid;
		grid-template-rows: 0.2fr auto 1fr 0.5fr 1fr;
		grid-template-columns: 1fr;
		align-items: center;
		padding: 0 1.5em;
	}
	&__store-category {
		grid-row: 1/2;
		grid-column: 1/2;
		font-size: 1.4rem;
		text-transform: uppercase;
		letter-spacing: 4px;
		margin-bottom: 1em;
		align-self: center;
		color: $dark-grayish-blue;
	}
	&__perfume-name {
		align-self: center;
		font-size: 4rem;
		margin-bottom: 0.5em;
	}
	&__perfume-description {
		grid-column: 1/2;
		font-size: 2rem;
		align-self: start;
		color: $dark-grayish-blue;
		line-height: 25px;
	}
	&__container {
		grid-column: 1/2;
		grid-row: 4/5;
		display: flex;
		align-self: center;
		align-items: center;
	}
	&__price-discount {
		margin-right: 0.8em;
		font-size: 3.5rem;
		align-self: center;
		color: $dark-cyan;
	}
	&__price-normal {
		text-decoration: line-through;
		font-size: 1.4rem;
		color: $dark-grayish-blue;
	}
	&__add-btn {
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		align-self: start;
		grid-column: 1/2;
		grid-row: 5/6;
		background-color: $dark-cyan;
		border: none;
		color: white;
		font-weight: bold;
		font-size: 1.4rem;
		border-radius: 10px;
		margin-top: 1.5em;
		img {
			margin-right: 0.5em;
		}
	}
}
@media (max-width: 375px) {
	.card {
		height: 98vh;
	}
}
@media (min-width: 768px) {
	.card {
		height: 95vh;
		&__perfume-img {
			height: 45%;
			margin-bottom: 0;
		}
		&__wrapper {
			height: 55%;
			grid-template-rows: 1fr auto 2fr 1fr 1fr;
		}
		&__store-category {
			font-size: 2rem;
			align-self: end;
			margin-bottom: 0.2em;
		}
		&__perfume-name {
			font-size: 5rem;
			align-self: end;
			margin-bottom: 0;
		}
		&__perfume-description {
			font-size: 2.9rem;
			line-height: 50px;
			margin-top: 1em;
		}
		&__container {
			margin-top: 2em;
		}
		&__price-discount {
			font-size: 4rem;
		}
		&__price-normal {
			font-size: 2rem;
		}
		&__add-btn {
			margin-top: 0.5em;
			margin-bottom: 1em;
		}
	}
}
@media (min-width: 1440px) {
	.card {
		width: 900px;
		height: 800px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		justify-content: center;
		align-items: center;
		&__perfume-img {
			height: 100%;
			background-image: url("../../dist/img/image-product-desktop.jpg");
		}
		&__wrapper {
			height: 100%;
			width: 90%;
			grid-template-rows: 0.5fr 2fr 2fr 1fr 1fr;
			justify-self: center;
		}
		&__perfume-name {
			font-size: 6rem;
			align-self: start;
			margin-top: 0.5em;
		}
		&__container {
			margin: 0;
		}
		&__price-discount {
			font-size: 6rem;
			margin-right: 2rem;
		}
		&__price-normal {
			font-size: 2rem;
		}
		&__add-btn {
			height: 70px;
			font-size: 1.8rem;
		}
	}
}
